{
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "ext": [".js,.jsx"],
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "object-shorthand": [2, "never"],
    "comma-dangle": [2, "never"],
    "func-names": 0,
    "no-console": 0,
    "no-unused-vars": [2, {
      "vars": "all",
      "args": "none"
    }],
    "react/jsx-closing-bracket-location": [2, "after-props"]
  }
}
